.follow-action {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.input-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1, 167;
  letter-spacing: 0.01em;

  color: var(--text-color);
}

.modal-input {
  padding-left: 42px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.15;

  transition-property: border-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);
}

.modal-input:focus {
  cursor: pointer;
  outline: none;
  border-color: var(--focus-color);
}

.modal-form-input-wrapper {
  position: relative;
  margin-top: 4px;
  margin-bottom: 10px;
}
.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  display: block;
  transform: translateY(-50%);

  transition-property: fill;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);
}

.modal-input:focus + .modal-form-input-icon {
  fill: var(--focus-color);
}

.modal-textarea {
  margin-top: 4px;
  padding: 12px 16px;
  height: 120px;
  resize: none;
  width: 100%;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.15;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition-property: border-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);
}

.modal-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1, 167;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-textarea:focus {
  cursor: pointer;
  outline: none;
  border-color: var(--focus-color);
}

label > a {
  text-decoration: underline;
}

.modal-btn {
  align-self: center;
  display: inline-block;
  margin-top: 30px;
  padding: 10px 55px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;

  letter-spacing: 0.06em;
  color: var(--button-text-color);
  background-color: var(--focus-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  outline: none;

  transition-property: background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--timing-function);
}

.cheakbox-wrapper {
  margin-top: 20px;
  text-align: center;
}

.user-policy-link {
  color: var(--focus-color);
}

.label-user-policy::before {
  content: '';
  margin-right: 12px;
  width: 16px;
  height: 15px;
  display: inline-block;
  background-image: url(../image/icons/Vector.svg);
}

.modal-user-policy:checked + .label-user-policy::before {
  background-image: url(../image/icons/icon-check.svg);
}

.modal-user-policy:focus + .label-user-policy::before {
  outline: 2px solid var(--logo-second-part);
}
